
/* navbar */
.nav{
  display:flex;
  justify-content:space-between;
  width: 100%;
  padding: 1em;
  background: black;
  color: white;
  align-items: center;
}

.nav-items{
  display:flex;
  gap: 1em;
}

.heading{
  font-size: 1.5em;
  font-weight: bold;
}
